<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中央认证服务</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" th:href="${#themes.code('aurora.css.file')}" rel="stylesheet">
    <link rel="icon" th:href="${#themes.code('aurora.favicon')}" type="image/x-icon"/>

</head>
<body>
<div class="login_box">
    <div class="login_l_img"><img th:src="${#themes.code('aurora.img.background')}" /></div>
    <div class="login">
        <div class="login_logo"><a href="#"><img th:src="${#themes.code('aurora.img.user')}" /></a></div>
        <div class="login_name">
            <p>中央认证服务</p>
        </div>
        <form method="post"  th:object="${credential}">
            <div th:if="${#fields.hasErrors('*')}" style="color: red">
                <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
            </div>

            <input
                name="username"
                type="text"
                value="用户名"
                th:disabled="${guaEnabled}"
                th:placeholder="#{screen.welcome.label.netid}"
                th:field="*{username}"
                th:accesskey="#{screen.welcome.label.netid.accesskey}">

            <input
                name="password"
                type="password"
                id="password"
                th:placeholder="#{screen.welcome.label.password}"
                th:accesskey="#{screen.welcome.label.password.accesskey}"
                th:field="*{password}"/>
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="_eventId" value="submit"/>
            <input type="hidden" name="geolocation"/>
            <input class="btn btn-submit btn-block"
                   name="submit"
                   accesskey="l"
                   th:value="#{screen.welcome.button.login}"
                   tabindex="6"
                   type="submit"/>
        </form>
    </div>
    <div class="copyright">copyright©2019 aurora shimh</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>